.result{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
    background: linear-gradient(rgb(141 123 15 / 58%),rgb(61 24 103));
    padding: 0.5rem;
    border-radius: 1rem;
}


.resultList{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    padding: 2rem 3rem;
}

.teamalign{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
}
.team1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.teamImage{
    height: 144px;
    object-fit: contain;
}

.goals{
    font-size: 3rem;
}

.location{
    font-size: 1.5rem;
}