
.teamList{
    width: 80%;
    min-height: 80vh;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: start;
    color: #fff;
}

table{
    background: linear-gradient(rgba(0, 0, 0, 0.767),rgba(0, 0, 0, 0.712));
    width: 100rem;
}

th{
    padding: 1rem;
}
td img{
    height: 4rem;
}
td{
    padding: 1rem;
    text-align: center;
    animation-delay: 1s;
}

.Tlogo{
    color: #fff;
    clip-path: polygon(0px 0px, 100% 0px, 80% 100%, 0% 100%);
    /*clip-path:polygon(90px 0px, 100% 0px, 80% 100%, 0% 100%);*/
    background: #550381;
    animation: moveright 1s linear forwards;
    opacity: 0;
}

@keyframes moveright {
    0%{
        opacity: 1;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

.city{
    background: #FEC53A;
    color: #000;
    clip-path: polygon(35% 0, 100% 0, 100% 100%, 0% 100%);
    animation: moveleft 1s linear forwards;
    opacity: 0;
}
@keyframes moveleft {
    0%{
        opacity: 1;
        transform: translateX(300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}

