<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="http://localhost:3001/main.css">
    <link rel="stylesheet" href="http://localhost:3001/home.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <i class="fas fa-gamepad"></i>
                <p>GOA SUPER LEAGUE</p>
            </div>
            <ul class="navbar">
                <li><a href="#" class="active">HOME</a></li>
                <li><a href="team#">TEAMS</a></li>
                <li><a href="result#">RESULTS</a></li>
                <li><a href="standings#">STANDINGS</a></li>
                <li><a href="player#">PLAYERS</a></li>
                <li><a href="#ABOUT">ABOUT</a></li>
            </ul>
            <button type="button" id="btn"><i class="fas fa-play"></i></button>
        </header>
        <div class="content-wrapper">
            <div class="content-desc">
                <h1>GOA SUPER LEAGUE</h1>
                <p>Welcome to <span>GSL</span> in this immense challenge and be the 
                    winner of all TIme.</p>
                <p>Want to know results!</p>

                <button id="btn2" onclick="location.href='result'">Click here</button>
            </div>

            <div class="holder">
                    <img class="trophy" src="http://localhost:3001/trophy.png" alt="">
            </div>
        </div>
    </div>

    <div class="logo-section">
        <i class="fas fa-gamepad"></i>
        <h1>GOA SUPER LEAGUE</h1>
    </div>

    <section class="section-1" id="ABOUT">
        <div class="section-1-wrapper">  
            <h1>ABOUT GOA SUPER LEAGUE</h1>
                <div class="content-desc">
                    <p>The Goa Super League (GSL) is India’s unrivalled football championship. The league is co-promoted by Reliance, Star India and supported by the All India Football Federation (AIFF). India’s leading industrialists and celebrities from sports as well as the Indian film industry have heavily invested in the league’s 11 franchises based in the following cities: Chennai, Bhubaneswar, Goa, Guwahati, Kochi, Kolkata, Mumbai, Hyderabad, Bengaluru and Jamshedpur.</p>
                </div>
        </div>
        <div class="footer">
            <h1>© 2020 Goa Super League-All Rights Reserved</h1>
        </div>
    </section>
    

    
</body>
</html>